{% extends "base.html" %}

{% block title %} Sign In {% endblock %}
{% block heading %} 
    Your Profile! - Chat App logged in as {{ name }}
    <a href="http://127.0.0.1:5000/logout/">Click here to logout</a>
    <script type="text/javascript" src="{{url_for('static', filename='chat_page.js')}}"></script>
{% endblock %}

{% block body %}
	<div class="twitbox">
		<h3>What's on your mind {{ name }}?</h3>
		<form>
			<input name="new_author" type="hidden" id="authorId" value="{{ name }}">
			<input name="new_msg" placeholder="Type your message here" type="text" id="msgId" value="" size="60">
			<input id="btn" type="button" value="Send">
		</form>
	</div>

	{% if msgs %}
    <div class="chatbox">
        <table id="chat_window">
			{% for msg in msgs %}
			<tr>
				<td style="display: block;"> User: {{ msg.author }}:</td>
				<td style="display: block;">{{ msg.message }}<br><br></td>
			</tr>
			{% endfor %}
		</table>
    </div>
	{% else %}
		<h2>No Messages</h2>
	{% endif %}
{% endblock %}
