{% extends "base.html" %}
{% block title %} Sign In {% endblock %}
{% block heading %} Log In! - {{ super() }} {% endblock %}

{% block body %}
  <div class="error"></div>
  <form action="http://127.0.0.1:5000/login/" method="post">
    <dl>
        <dt>Username:
        <input type="text" name="user" size="30" >
        <dt>Password:
        <input type="password" name="pass" size="30">
    </dl>
    <div class="actions">
        <input type="submit" value="Sign In">
        <a href="http://127.0.0.1:5000/register/"> Register</a>
    </div>
  </form>
{% endblock %}